{% extends "base.html" %}

{% load static %}

{% block content %}


<!-- ========================
       page title 
    =========================== -->
<section id="page-title" class="page-title bg-overlay bg-parallax">
  <div class="bg-img"><img src="{% static 'assets/images/page-titles/14.jpg' %}" alt="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="pagetitle__heading">Our Company</h1>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<!-- ========================
      About 4
    =========================== -->
<section id="about4" class="about about-2 about-4 mt-40 pb-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="row heading-2">
          <div class="col-sm-12 col-md-12 col-sm-12">
          </div><!-- /.col-lg-12 -->


          <div class="col-sm-12 col-md-12 col-lg-12">
            <p style="text-align: justify; line-height: 1.8;" class="heading__desc mb-30">GAJJAB Consortium is a
              technology driven supply chain & logistic services company that provides safe, secure and excellent
              logistics services in West Africa. We provide full range of service in the sphere of customs clearance and
              transport for any type of cargo within Nigeria. We pride ourselves on providing the best transport and
              shipping services available in South West Nigeria.<br> We utilise the latest communications, tracking and
              processing web application for integrated supply chain solutions.<br> Established in January 2025, we
              consist of six co-founders based in Abuja, Niger, Port Harcourt and Lagos. The six co-founders are career
              experts in project management, procurement, supply chain and business commercials.<br>Company valuation
              (physical & cash assets) at commencement of Operations was 2000 USD.<br>
            </p>
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.col-lg-7 -->
      <div class="col-sm-12 col-md-9 col-lg-5">
        <div class="about__img mb-60">
          <img src="{% static 'assets/images/about/default.png' %}" alt="about img" class="img-fluid">
        </div><!-- /.about-img -->
      </div><!-- /.col-lg-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.About 4 -->


<!-- ========================
      About 2
    =========================== -->
<section id="about2" class="about about-2 pb-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-5">
        <div class="about__img mb-60">
          <img src="{% static 'assets/images/page-titles/13.jpg' %}" alt="about img" class="img-fluid">
        </div><!-- /.about-img -->
      </div><!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="carousel owl-carousel carousel-dots" data-slide="1" data-slide-md="1" data-slide-sm="1"
            data-autoplay="true" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="300">
            <div class="fancybox-item">
              <div class="fancybox__icon">
                <i class="icon-worldwide"></i>
              </div><!-- /.fancybox-icon -->
              <div class="fancybox__content">
                <h4 class="fancybox__title">Our Mission</h4>
                <p class="fancybox__desc">We would drive partnerships with relevant
                  stakeholders in supply chain and build valuable
                  networks in Sub Saharan Africa over the next two decades.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
            <div class="fancybox-item">
              <div class="fancybox__icon">
                <i class="icon-transfer"></i>
              </div><!-- /.fancybox-icon -->
              <div class="fancybox__content">
                <h4 class="fancybox__title">Our Vision</h4>
                <p class="fancybox__desc">Vision Statement
                  To create a secure, intelligent and highly efficient supply-chain system process
                  through strategic implementation of innovative route optimization technologies.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.carousel -->
        </div><!-- /.col-lg-5 -->
        <div class="row heading heading-2">
          <div class="col-sm-12 col-md-12 col-sm-12">
            <h2 class="heading__title">Safe, Reliable And Express Logistic & Transport Solutions
              That Saves Your Time!</h2>
          </div><!-- /.col-lg-12 -->
          <div class="col-sm-12 col-md-7 col-lg-7">
            <p class="heading__desc mb-30"> At Gajjab Consortium, we provide full range of service in logistics and
              supply chain.</p>
          </div><!-- /.col-lg-7 -->

        </div><!-- /.row -->
      </div><!-- /.col-lg-7 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.About 2 -->

<!-- =====================
       Clients 1
    ======================== -->
<section id="clients" class="clients clients-1 border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="carousel owl-carousel" data-slide="6" data-slide-md="4" data-slide-sm="2" data-autoplay="true"
          data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="700">
          <div class="client">
            <a href="#"><img src="{% static 'assets/images/clients/9.png' %}" alt="client"></a>
          </div><!-- /.client -->
          <div class="client">
            <a href="#"><img src="{% static 'assets/images/clients/10.png' %}" alt="client"></a>
          </div><!-- /.client -->
          <div class="client">
            <a href="#"><img src="{% static 'assets/images/clients/11.png' %}" alt="client"></a>
          </div><!-- /.client -->
          <div class="client">
            <a href="#"><img src="{% static 'assets/images/clients/12.png' %}" alt="client"></a>
          </div><!-- /.client -->
          <div class="client">
            <a href="#"><img src="{% static 'assets/images/clients/13.png' %}" alt="client"></a>
          </div><!-- /.client -->
          <div class="client">
            <a href="#"><img src="{% static 'assets/images/clients/11.png' %}" alt="client"></a>
          </div><!-- /.client -->
        </div><!-- /.carousel -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.clients 1 -->

<!-- ======================
           banner 1
      ========================= -->
<section id="banner1" class="banner banner-1 video fancybox-layout2 p-0 bg-theme">
  <div class="container-fluid col-padding-0">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 equal-height">
        <div class="inner-padding">
          <div class="heading heading-2 mb-50">
            <h2 class="heading__title color-white">Logistic & Transport Solutions Saves Your Time!</h2>
            <p class="heading__desc color-white">Gajjab Consortium is a representative logistics operator providing full
              range of service in the sphere of customs clearance and transportation worldwide for any type of
              cargo. </p>
          </div><!-- /.heading -->
          <div class="row">
            <!-- fancybox item #1 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="fancybox-item">
                <div class="fancybox__icon">
                  <i class="icon-credit-cards"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox__content">
                  <h4 class="fancybox__title">Transparent Pricing</h4>
                  <p class="fancybox__desc">The world of international supply chains involves a myriad of unknown
                    risks
                    and challenging regulations.</p>
                </div><!-- /.fancybox-content -->
              </div><!-- /.fancybox-item -->
            </div><!-- /.col-lg-3 -->
            <!-- fancybox item #2 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="fancybox-item">
                <div class="fancybox__icon">
                  <i class="icon-search-worldwide"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox__content">
                  <h4 class="fancybox__title">Real-Time Tracking</h4>
                  <p class="fancybox__desc">We ensure our customers’ supply chains are fully compliant by our
                    comprehensive practices and programs. </p>
                </div><!-- /.fancybox-content -->
              </div><!-- /.fancybox-item -->
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="bg-overlay">
          <div class="bg-img"><img src="{% static 'assets/images/video/2.jpg' %}" alt="background"></div>
          <div class="video__btn video__btn-white align-v-h equal-height">
            <div class="video__player">
            </div>
            </a>
          </div>
        </div><!-- /.video -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.banner 1 -->

<!-- ========================= 
            Testimonial #2
    =========================  -->
<section id="testimonial2" class="testimonial testimonial-2 text-center">
  <div class="bg-img"><img src="{% static 'assets/images/backgrounds/2.jpg' %}" alt="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center">
          <span class="heading__subtitle mb-0">Client’s Testimonials</span>
        </div><!-- /.heading -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
        <div class=" owl-carousel thumbs-carousel" data-slider-id="1" data-nav="false" data-dots="false">

          <!-- Testimonial #1 -->
          <div class=" testimonial-item">
            <div class="testimonial__content">
              <p class="testimonial__desc">Gajjab Consortium is the best of the best, and expertly trained team members
                who take the extra step and go the extra mile, all to fulfill our dedicated promise to deliver
                innovative and dynamic solutions to our customers to fit the needs of a rapidly changing global
                environment.</p>
            </div><!-- /.testimonial-content -->
          </div><!-- /. testimonial-item -->
          <!-- Testimonial #2 -->
          <div class=" testimonial-item">
            <div class="testimonial__content">
              <p class="testimonial__desc">Gajjab Consortium is the best of the best, and expertly trained team members
                who take the extra step and go the extra mile, all to fulfill our dedicated promise to deliver
                innovative and dynamic solutions to our customers to fit the needs of a rapidly changing global
                environment.</p>
            </div><!-- /.testimonial-content -->
          </div><!-- /. testimonial-item -->
          <!-- Testimonial #3 -->
          <div class=" testimonial-item">
            <div class="testimonial__content">
              <p class="testimonial__desc">Gajjab Consortium is the best of the best, and expertly trained team members
                who take the extra step and go the extra mile, all to fulfill our dedicated promise to deliver
                innovative and dynamic solutions to our customers to fit the needs of a rapidly changing global
                environment.</p>
            </div><!-- /.testimonial-content -->
          </div><!-- /. testimonial-item -->
        </div>
        <div class="owl-thumbs" data-slider-id="1">
          <button class="owl-thumb-item">
            <span class="testimonial__meta">
              <span class="testimonial__thumb">
                <img src="{% static 'assets/images/testimonials/thumbs/1.jpg' %}" alt="author thumb">
              </span><!-- /.testimonial-thumb -->
              <span class="testimonial__meta-title">Sami Wade</span>
              <span class="testimonial__meta-desc">WhiteMov</span>
            </span><!-- /.testimonial-meta -->
          </button>
          <button class="owl-thumb-item">
            <span class="testimonial__meta">
              <span class="testimonial__thumb">
                <img src="{% static 'assets/images/testimonials/thumbs/2.jpg' %}" alt="author thumb">
              </span><!-- /.testimonial-thumb -->
              <span class="testimonial__meta-title">John Peter</span>
              <span class="testimonial__meta-desc">Mov Inc</span>
            </span><!-- /.testimonial-meta -->
          </button>
          <button class="owl-thumb-item">
            <span class="testimonial__meta">
              <span class="testimonial__thumb">
                <img src="{% static 'assets/images/testimonials/thumbs/1.jpg' %}" alt="author thumb">
              </span><!-- /.testimonial-thumb -->
              <span class="testimonial__meta-title">Martin Hope</span>
              <span class="testimonial__meta-desc">ProMov</span>
            </span><!-- /.testimonial-meta -->
          </button>
        </div><!-- /.owl-thumbs -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.testimonial2 -->


{% endblock %}