{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Logistics and Supply Chain Solutions">
     <meta name="keywords" content="Transport, Logistics, Supply Chain, Warehousing, Freight">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     {% if title %}
      <title>{{ title }}</title>
    {% else %}
    <title>Gajjab Consortium</title>
    {% endif %}
    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/images/favicon/favlogo.png' %}" rel="icon">
      
    <!-- Template library CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/libraries.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    

</head>

<body>

  <div class="wrapper">

    <!-- =========================
        Header
    =========================== -->
    <header id="header" class="header header-transparent">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'assets/images/logo/cover-2.png' %}" class="logo-light" alt="logo">
            <img src="{% static 'assets/images/logo/cover-1.png' %}" class="logo-dark" alt="logo">
          </a>
           <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="header__top-right d-none d-lg-block">
            {% block header_top_right %}
            <ul class="list-unstyled d-flex justify-content-end align-items-center">
              <li><a href="{% url 'move_cargo' %}" class="btn btn__white"></i><span>Move Cargo</span></a></li>
            </ul>
            {% endblock %}
          </div>
          <!-- /.header-top-right -->
           
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="{% url 'index' %}" class="dropdown-toggle nav__item-link">Home</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="{% url 'about' %}" class="nav__item-link">Our Company</a>
                 </li>
          
              <li class="nav__item with-dropdown">
                <a class="nav__item-link">Services</a>
                <i class="fa fa-angle-right" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="{% url 'move_cargo' %}" class="nav__item-link">Move Cargo</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="{% url 'track' %}" class="nav__item-link">Track and Trace</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="{% url 'faq' %}" class="nav__item-link">Help and faqs</a></li>
                  <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
                </li><!-- /.nav-item -->

                  <!-- /.nav-item -->
                  <li class="nav__item with-dropdown">
                <a href="{% url 'our-team' %}" class="nav__item-link">Our Team</a>
                  </li>
                  <!-- /.nav-item -->
                <li class="nav__item">
                <a href="{% url 'contact' %}" class="nav__item-link">Contact Us</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="navbar-modules"><!-- /.modules-wrapper -->
          </div><!-- /.navbar-modules -->
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    {% block content %}{% endblock %}

 <!-- ========================= 
            Google Map
    =========================  -->
    <section id="googleMap" class="google-map p-0">
      <div id="map"></div>
      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0WjXhDTToOE709YU9JA3yDCq5AfOAUz0&callback=initMap" async defer></script>
    </section><!-- /.GoogleMap -->


    <!-- ========================
      Footer
    ========================== -->
    <footer id="footer" class="footer footer-1">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 footer__widget footer__widget-about">
              <div class="footer__widget-content">
                <img src="{% static 'assets/images/logo/cover-1.png' %}" alt="logo" class="mb-30">
              </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__widget footer__widget-nav">
              <h6 class="footer__widget-title">Who We Are</h6>
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'our-team' %}">Our Team</a></li>
                    <li><a href="{% url 'move_cargo' %}">Move Cargo</a></li>
                    <li><a href="{% url 'contact' %}">Contacts Us</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__widget footer__widget-nav">
              <h6 class="footer__widget-title">What We Do</h6>
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a >Supply Chain</a></li>
                    <li><a >Warehousing</a></li>
                    <li><a >Route Optimization</a></li>
                     <li><a >Cargo</a></li>
                    <li><a >Logistics</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__widget footer__widget-nav">
              <h6 class="footer__widget-title">Who We Serve</h6>
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a >Retailers &amp; Consumers</a></li>
                    <li><a >Transport &amp; Logistics</a></li>
                    <li><a >Food &amp; Beverages</a></li>
                    <li><a >Oil &amp; Gas Companies</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__widget footer__widget-nav">
              <h6 class="footer__widget-title">Quick Links</h6>
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'move_cargo' %}">Move Cargo</a></li>
                    <li><a href="{% url 'track' %}">Track &amp; Trace</a></li>
                    <li><a href="{% url 'our-team' %}">Our Team</a></li>
                    <li><a href="{% url 'faq' %}">Help &amp; FAQ</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-lg-2 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-top -->
      <div class="container">
        <div class="footer-bottom">
          <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
              <div class="footer__copyright">
                <span>Designed by</span>
                <a href="https://banigo1.github.io/">Precious Banigo</a>
              </div><!-- /.Footer-copyright -->
            </div><!-- /.col-lg-6 -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div>
    </footer>
    <!-- /.Footer -->

    <!-- Back to Top Button -->
    <button id="scrollTopBtn"><i class="fa fa-long-arrow-up"></i></button>

   
  </div><!-- /.wrapper -->


    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/google-map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0WjXhDTToOE709YU9JA3yDCq5AfOAUz0&callback=initMap"></script>
    
    <script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      autoplayTimeout: 3000, // 4 seconds
      autoplayHoverPause: false,
      nav: true,
      dots: false,
      animateOut: 'fadeOut',
      animateIn: 'fadeIn'
    });
  });
</script>

</body>

</html>