{% extends "base.html" %}

{% load static %}

{% block content %}


    <!-- ========================
       page title 
    =========================== -->
    <section id="page-title" class="page-title bg-overlay bg-parallax">
      <div class="bg-img"><img src="{% static 'assets/images/page-titles/2.jpg' %}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading">FAQs</h1>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ======================
       FAQ
    ========================= -->
    <section id="faq" class="faq">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <aside class="sidebar mt-30">
              <div class="widget widget-categories widget widget-categories widget-categories-2">
              </div><!-- /.widget-categories -->
              <div class="widget widget-download">
              <div class="widget widget-help bg-theme">
                <div class="widget__content">
                  <h5>We're with you!</h5>
                  <p>If you cannot find the answers to any of your questions in our FAQs, Please feel free to reach out or send a mail. <br>We’ll be glad to help.</p>      
                </div><!-- /.widget-download -->
              </div>
              </div><!-- /.widget-help -->
            </aside><!-- /.sidebar -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-12 col-md-12 col-lg-7 mt-40">
            <div id="accordion">
              <div class="accordion-item">
                <div class="accordion__item-header opened" data-toggle="collapse" data-target="#collapse1">
                  <a class="accordion__item-title">Which Plan Is Right For Me?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse1" class="collapse show" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
                  <a class="accordion__item-title" href="#">Do I have to commit to a contract?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse2" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
                  <a class="accordion__item-title" href="#">What Payment Methods Are Available?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse3" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse4">
                  <a class="accordion__item-title" href="#">What if I pick the wrong plan?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse4" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse5">
                  <a class="accordion__item-title" href="#">Any contracts or commitments?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse5" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse6">
                  <a class="accordion__item-title" href="#">What are my payment options?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse6" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse7">
                  <a class="accordion__item-title" href="#">How does the free trial work?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse7" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse8">
                  <a class="accordion__item-title" href="#">What Payment Methods Are Available?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse8" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse9">
                  <a class="accordion__item-title" href="#">How does the free trial work?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse9" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse10">
                  <a class="accordion__item-title" href="#">When should I receive my Shipment?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse10" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse11">
                  <a class="accordion__item-title" href="#">How do I cancel my Shipment?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse11" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the best
                      advice from a reputable company as often you will have to provide sensitive information online or
                      over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse12">
                  <a class="accordion__item-title" href="#"> Why does my Shipment take so long?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse12" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the
                      best advice from a reputable company as often you will have to provide sensitive information
                      online or over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse13">
                  <a class="accordion__item-title" href="#">Can I pay for 12 months in advance?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse13" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the
                      best advice from a reputable company as often you will have to provide sensitive information
                      online or over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse14">
                  <a class="accordion__item-title" href="#">If I have questions, where can I find answers?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse14" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the
                      best advice from a reputable company as often you will have to provide sensitive information
                      online or over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse15">
                  <a class="accordion__item-title" href="#">What happens to my Shipment if I cancel?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse15" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the
                      best advice from a reputable company as often you will have to provide sensitive information
                      online or over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
              <div class="accordion-item">
                <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse16">
                  <a class="accordion__item-title" href="#">Is my Shipment safe?</a>
                </div><!-- /.accordion-item-header -->
                <div id="collapse16" class="collapse" data-parent="#accordion">
                  <div class="accordion__item-body">
                    <p>With any financial product that you buy, it is important that you know you are getting the
                      best advice from a reputable company as often you will have to provide sensitive information
                      online or over the internet.</p>
                  </div><!-- /.accordion-item-body -->
                </div>
              </div><!-- /.accordion-item -->
            </div><!-- / #accordion -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.FAQ -->


{% endblock %}